<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>

<h4>Pokemons:</h4>
<ul>
  <% @trainer.pokemons.each do |pokemon| %>
  <li><%= pokemon.name %>: <%= pokemon.level %></li>
  <li>Health: <%= pokemon.health %></li>
  <% end %>
</ul>
